#!/usr/bin/env sh

# {{ ansible_managed }}

set -a;

function setup_shell_env() {

  local SHELL_NAME="$(basename ${SHELL})";

  export PYTHONPATH="$(brew --prefix)/lib/python2.7/site-packages:$PYTHONPATH";

  if which chef > /dev/null; then eval "$(chef shell-init ${SHELL_NAME})"; fi;
  if which rbenv > /dev/null; then eval "$(rbenv init -)"; fi;
  if which phpenv > /dev/null; then eval "$(phpenv init -)"; fi;
  if which pyenv > /dev/null; then eval "$(pyenv init -)"; fi;
  if which hem > /dev/null; then eval "$(hem shell-init ${SHELL_NAME})"; fi;

  export SHARED_PROFILE_LOADED=true;
  export EDITOR=vim;
}

setup_shell_env $_;

unset -f setup_shell_env;

echo 'Profile loaded';
