ControlMaster auto
ControlPath {{ ssh_config_control_path }}/%r@%h:%p
ControlPersist {{ ssh_config_control_persist }}

{% for group in ssh_config_groups %}
{% if group.description is defined %}
# {{ group.description }}
{% endif %}
{% for entry in group.entries %}
{% if entry.description is defined %}
# {{ entry.description }}
{% endif %}
Host {{ entry.hosts | join(' ') }}
{% for value in entry.vars %}
    {{ value }}
{% endfor %}

{% endfor %}
{% endfor %}
